.eventPic {float: left; margin: 0 10px 10px 0; } .eventPic img { border-radius:7px; }

.dgMarker.custom {padding: 3px; background: #fff; border: 1px solid #999; border-radius: 3px; cursor: pointer;} .dgMarker.custom:hover {box-shadow: 0 0 5px #666; z-index:505 !important;}
.dgMarker.custom:before { content: ' '; position: absolute; width: 0; height: 0; left: 4px; bottom: -8px; border: 4px solid; border-color: #999 transparent transparent #999; }
.dgMarker.custom:after { content: ' '; position: absolute; width: 0; height: 0; left: 5px; bottom: -6px; border: 3px solid; border-color: #fff transparent transparent #fff; }

.readmore {display:inline-block; border-radius:5px; padding:4px 8px; color:#333; background:#ddd; font-weight: bold; font-size: 11px;} .readmore:hover {color: #fff; background: #666;}

.ThisTypeNoActive, .ThisTypeActive { display:block; background:#FFF; width:220px; padding:5px 5px 3px 5px; font-weight:bold; float:left; text-decoration: underline; border:1px solid #CCC; margin:5px 10px 5px 0; border-radius:5px; }
.ThisTypeNoActive:hover { color:#FFF; background:#006FA4; border:1px solid #006FA4 !important; } .ThisTypeActive { color:#FFF !important; background:#006FA4; border:1px solid #006FA4 !important; } .ThisTypeActive a { color:#FFF !important; background:#006FA4; border:1px solid #006FA4 !important; }

