<div id="BoxUp" onclick="CloseBlank();"></div>
<div id="AllContent">
	<script type="text/javascript">google_ad_client = "ca-pub-2073806235209608"; google_ad_slot = "8225685414"; google_ad_width = 234; google_ad_height = 60; </script><script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
	<div class="logo-mobile"><a href="http://m.$mdomain"><img src="/template/index/logo.png" title='$sitename' alt='$sitename'></a></div>
	<div class="nav-mobile">
		$UserAuth
		<a href='http://$mdomain/modules/standart/ChangeVersion.php?to=full'>Полная версия</a>		
		<a href='/add/1'>Добавить новость</a>
	</div>
<div class="C"></div>	
<div id='MobileForm'>$UserForm</div>
<div class="C"></div>
$mobile
<div class="C"></div>
$Caption
$Content
<div class="C15"></div>
<div id="Bottom">
	<div class="C15"></div>
	<div class="EditText"><noindex>$editors<div class="C10"></div>
	<div class="MobileCount">$counters</div>
	</noindex></div>
    <div class="CopyText">$copyright</div>    
    <div class="C"></div>
</div>
</div>