<div id="BoxUp" onclick="CloseBlank();"></div><div id="ToUp" onclick="DocToUp();">Наверх</div>
<div id="InnerCont"><div id="MainContentBox">

<noindex><div class='banner' id='Banner-2-1'></div></noindex>


<!-- MAIN-DESIGN START -->
<div id="TOP">$TopContent</div>

<div class="C20"></div>

<div id="LEFT">$LeftContent</div>
<div id="CENTER"><div id="Caption">$Caption</div>$Content</div>
<div id="RIGHT">$RightContent</div>

<div class='C20'></div>

<div id="BOTTOM">$BottomContent</div>

<div class="C20"></div>

<div id="BottomBox">
	<div class="Menu">$dopmenu<noindex><div class='C'></div><div class="City">$ourcities</div></noindex></div>
	<noindex><div class="Text">$official<div class="C15"></div><box>$editors</box><box>$comgorod</box><box>$comkazan</box><div class="C15"></div>$copyright</div></noindex>
	<noindex><div class="EndText"><div class='CopyEnd'>$copylast</div><noindex><div class='Counters'>$counters</div></noindex></div></noindex><div class="C20"></div>$sape<div class="C30"></div>
</div>

<!-- MAIN-DESIGN END -->
</div></div>

<div id="LeftCont"></div><div id="RightCont"></div>
<div class="actionBanner1 ToUp" id="Banner-17-1"></div>
<div class="actionBanner2 ToUp" id="Banner-25-1"></div>
<div class='bannerdown' id='Banner-3-1'></div>